<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWord">
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu_union_verify" content="4e2a143d7b14406a27bee017d0b41d38">
    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content( "/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content( "/css/bootstrap-responsive.css")">
    <link rel="stylesheet" href="@Url.Content( "/css/jquery.lightbox-0.5.css")">
    <link rel="stylesheet" href="@Url.Content( "/css/custom-styles.css")">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="@Url.Content( "/js/bootstrap.js")"></script>
    <script src="@Url.Content( "/js/jquery.custom.js")"></script>


</head>

<body>
    @Html.Action("Top", "Home", new { area=""})
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="/Home">
                    <img src="/img/piccolo-logo.png" alt="" />
                </a>
                <h5>A small website ...... a big world</h5>
            </div>

            <!-- Main Navigation
            ================================================== -->
            <div class="span7 navigation">
                <div class="navbar hidden-phone">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index", "Home", new { area=""})">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "NewsPart", new { area="News"})">news<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "NewsPart", new { area="News"})">ALL News</a></li>
                                <li><a href="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 1 }).Replace("_1.html", ".html")">Internet News</a></li>
                                <li><a href="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 2 }).Replace("_1.html", ".html")">Develop News</a></li>
                                <li><a href="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 3 }).Replace("_1.html", ".html")">Domestic News</a></li>
                                <li><a href="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 4 }).Replace("_1.html", ".html")">World News</a></li>
                            </ul>
                        </li>
                        @*<li><a href="@Url.Action("Index", "Blogs", new { area="BlogPark"})">Blog Park</a></li>*@
                        <li class="active"><a href="@Url.Action("Index", "DiscussPart", new { area = "Discuss" })">Discuss</a></li>
                        <li><a href="@Url.Action("About", "Home", new { area = "" })">ABOUT</a></li>
                        @*<li><a href="#">Leave a message</a></li>*@
                    </ul>

                </div>

                <!-- Mobile Nav
                ================================================== -->
                <form action="#" id="mobile-nav" class="visible-phone">
                    <div class="mobile-nav-select">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                            <option value="">Navigate...</option>
                            <option value="@Url.Action("Index", "Home", new { area=""})">Home</option>
                            <option value="@Url.Action("Index", "NewsPart", new { area="News"})">News</option>
                            <option value="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 1 }).Replace("_1.html", ".html")">- Internet News</option>
                            <option value="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 2 }).Replace("_1.html", ".html")">- Develop News</option>
                            <option value="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 3 }).Replace("_1.html", ".html")">- Domestic News</option>
                            <option value="@Url.Action("GetListByCateid", "NewsPart", new { area = "News", cid = 4 }).Replace("_1.html", ".html")">- World News</option>
                            @*<option value="@Url.Action("Index", "Blogs", new { area="BlogPark"})">Blog Park</option>*@
                            <option value="@Url.Action("Index", "DiscussPart", new { area = "Discuss" })">Discuss</option>                            
                            <option value="@Url.Action("About", "Home", new { area = "" })">ABOUT</option>
                            @*<option value="#">Leave a message</option>*@
                        </select>
                    </div>
                </form>

            </div>

        </div>
        <!-- End Header -->
        @RenderBody()
    </div>
    <!-- Footer Area-->
    <div class="footer-container">
        <!-- Begin Footer -->
        <div class="container">
            <div class="row footer-row">
                <div class="span3 footer-col" style="text-align: center;">
                    <h5>关于网站</h5>
                    <img src="/img/piccolo-footer-logo.png" alt="Piccolo" /><br /><br />
                    <address>
                        <strong>团队成员</strong><br />
                        Mr. Zhang, Suite 500<br />
                        New York, NY 12345<br />
                    </address>
                    @*<ul class="social-icons">
                            <li><a href="#" class="social-icon facebook"></a></li>
                            <li><a href="#" class="social-icon twitter"></a></li>
                            <li><a href="#" class="social-icon dribble"></a></li>
                            <li><a href="#" class="social-icon rss"></a></li>
                            <li><a href="#" class="social-icon forrst"></a></li>
                        </ul>*@
                </div>
                <div class="span3 footer-col">
                    <h5>加入我们</h5>
                    <ul>
                        <li><a href="#"> Mr. Zhang</a> 欢迎有兴趣和初学者一起开发学习</li>
                        <li><a href="#"> Mr. Zhang</a> 欢迎有兴趣和初学者一起开发学习</li>
                        @*<li><a href="#">room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>*@
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>最新修正</h5>
                    <ul class="post-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                        @*<li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                            <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                            <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>*@
                        >>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>友情链接</h5>
                    <ul class="img-feed">
                        <li><a href="#">百     度</a></li>
                        <li><a href="#">谷     歌</a></li>
                        <li><a href="#">网     易</a></li>
                        <li><a href="#">腾     讯</a></li>
                        <li><a href="#">博  客 园</a></li>
                        <li><a href="#">51  CTO</a></li>
                        <li><a href="#">  CSDN </a></li>
                        <li><a href="#">模板之家</a></li>
                        <li><a href="#">站长之家</a></li>
                        <li><a href="#">今日头条</a></li>
                        <li><a href="#">财经要闻</a></li>
                        <li><a href="#">环视全球</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span12" style="text-align:center">
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1255859365'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255859365%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script><span>&copy; 网站备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" title="京ICP备15023538号">京ICP备15023538号</a> - 保留所有权利 </span></div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->
        </div>
    </div><!-- End Footer -->
    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    @RenderSection("footScript", required: false)
</body>
</html>
