@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@model BBS.Web2.Models.LoginViewModel
<div class="row">
    <div class="span7">
        <img src="@Url.Content("/img/gallery/48b2f9ba315ba879c1faf.jpg")"  alt="slider" />
    </div>
    <div class="span5">
        <div id="logindiv" style="height: 300px;">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @style = "padding:60px 10px;" }))
            {
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(model => Model.Name, new { @size = "16", @class = "span4", @placeholder = "用户名/邮箱" })
                </div>
                <div>@Html.ValidationMessageFor(m => Model.Name)</div>
                <br />
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(model => Model.Password, new { @size = "16", @class = "span4", @placeholder = "密码" })
                </div>
                <div>@Html.ValidationMessageFor(m => Model.Password)</div>
                <br />
                <div class="row">
                    <div class="span4">
                        <input type="submit" class="btn btn-inverse" value="登  录" id="btnlogin">
                        <a id="goregister" style="cursor: pointer">没有账号   去注册>></a>
                    </div>
                </div>
            }
            <form action="#" id="contact-form" style="padding: 60px 10px">
            </form>
        </div>
        <div id="Registereddiv" style="height: 300px;">
            <form action="#" id="contact-form1" style="padding: 20px 10px;">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(model => Model.Name, new { @size = "16", @class = "span4", @placeholder = "名字" }))
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    @Html.TextBoxFor(model => Model.email, new { @size = "16", @class = "span4", @placeholder = "邮箱" }))
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="span4" id="prependedInput3" size="16" type="password" placeholder="密码">
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.TextBoxFor(model => Model.Password, new { @size = "16", @class = "span4", @placeholder = "确认密码" }))
                </div>
                <br />
                <div class="row">
                    <div class="span5">
                        <input type="button" class="btn btn-inverse" value="注  册" id="regiterbtn">
                        <a id="gologin" style="cursor: pointer">已有账号   去登录>></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section footScript{
    <script type="text/javascript">
        $(function () {
            $("#Registereddiv").hide();

            $("#goregister").click(function () {
                $("#logindiv").hide();
                $("#Registereddiv").show();
            });

            $("#gologin").click(function () {
                $("#logindiv").show();
                $("#Registereddiv").hide();
            });
        });
    </script>
}
