@{
    Layout = "~/Areas/Discuss/Views/Shared/_LayoutDiscuss.cshtml";
}
@model BBS.Web2.Areas.Discuss.Models.DiscussDetailViewModel
<div class="row">
    <div class="span9 blog">
        <section class="comments">
            <h3 class="title-bg">主题：@Model.Info.Title</h3>
            <input type="hidden" value="@Model.Info.Did" id="disid">
            <ul>
                @{
                    string picurl = string.IsNullOrWhiteSpace(Model.MemberInfo.HeadPic) ? "http://www.kaifanews.com/img/user-avatar1.jpg" : Model.MemberInfo.HeadPic;
                    <li>
                        <div style="float: left">
                            <img style="height: 50px; width:50px;" src="@picurl" alt="评论" />
                        </div>
                        <div style="height: 50px; width: auto; float: left;">
                            @*<h3>@Model.Info.Title</h3>*@
                            <span class="comment-name">楼主：@Model.Info.PUserName</span>
                            <span class="comment-date">@Model.Info.AddTime.ToString("yyyy-MM-dd HH:mm:ss") &nbsp;&nbsp; <i class="icon-hand-up"></i><a>查看(@Model.Info.ClickCount.ToString())</a>&nbsp; |&nbsp;<i class=" icon-comment"></i><a>评论(@Model.Info.CommentCount.ToString())</a></span>
                            <hr style="border-color: #8e8787" />
                        </div>
                        <div class="comment-content">@Model.Info.Dcontent</div>
                        <!-- Reply -->
                        @*<ul>
                                <li>
                                    <img src="/img/user-avatar.jpg" alt="Image" />
                                    <span class="comment-name">Jason Doe</span>
                                    <span class="comment-date">March 15, 2015 | <i class="icon-hand-up"><a href="#">查看（@Model.Info.ClickCount.ToString()）</a></i><i class=" icon-comment"><a href="#">评论（@Model.Info.CommentCount.ToString()）</a></i></span>
                                    <div class="comment-content">@Model.Info.Dcontent</div>
                                </li>
                                <li>
                                    <img src="/img/user-avatar.jpg" alt="Image" />
                                    <span class="comment-name">Jason Doe</span>
                                    <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                                    <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                                </li>
                            </ul>*@
                    </li>
                }
                @{
                    foreach (var item in Model.Comments)
                    {
                        string pic = string.IsNullOrWhiteSpace(item.MemberPic) ? "http://www.kaifanews.com/img/user-avatar1.jpg" : item.MemberPic;
                    <li>
                        <img src="@pic" style="width:50px;height:50px;" alt="Image" />
                        <span class="comment-name">@item.rowid 楼：@item.UserName</span>
                        <span class="comment-date">&nbsp；@item.AddTime.ToString("yyyy-MM-dd HH:mm") &nbsp;&nbsp; <i class=" icon-thumbs-up"></i><a href="javascript:addsupport(@item.Cid)" >赞(<lable id="su_@item.Cid">@item.SupportCount.ToString()</lable>)</a>&nbsp;|<i class="icon-thumbs-down"></i><a href="javascript:addagainst(@item.Cid)" >吐(<lable id="au_@item.Cid">@item.AgainstCount.ToString()</lable>)</a></span>
                        <div class="comment-content">@item.CContent</div>
                    </li>
                    }
                }
            </ul>
        </section>
        <!-- Close comments section-->
        @Html.MyPage(Model.PageCurrent, Model.PageSize, Model.TotalCount)           
       
        <!-- Comment Form -->
        <div class="comment-form-container">
            <textarea class="span6" rows="3" id="content"></textarea>
            <div class="row">
                <div class="span2">
                    <input type="button" class="btn btn-inverse" value="评  论" id="subcom" onclick="subcomf()">
                </div>
            </div>
        </div>

    </div>
    <div class="span3 sidebar">
        @Html.Action("PartialData", "DiscussPart", new { area = "Discuss" })
    </div>
</div>
@section footScript{
    <script type="text/javascript">
        function subcomf() {
            var conte = $("#content").val();
            if (conte == "")
                return;
            var did = $("#disid").val();
            $.ajax({
                url: "@Url.Action("AddComment", "DiscussPart", new { area = "Discuss" })",
                type: "POST",
                data: { "content": conte, "did": did },
                datatype: "json",
                success: function (data) {
                    if (data == "-2") {
                        window.open("@Url.Action("Login", "Home", new { area = "" })", "_self");
                    }
                    if (data == "1") {
                        $("#content").val();
                        location.reload();
                    }
                }
            });
        }
        function addsupport(id) {
            $.ajax({
                url: "@Url.Action("Addsupport", "DiscussPart", new { area = "Discuss" })",
                type: "POST",
                data: { "id": id },
                dataType: "Json",
                success: function (data) {
                    if (data == "1") {
                        var item = "#su_" + id;
                        var count = $(item).html();
                        count = count * 1 + 1;
                        $(item).html(count);
                    }
                }
            });
        }
        function addagainst(id) {
            $.ajax({
                url: "@Url.Action("AddAgainst", "DiscussPart", new { area = "Discuss" })",
                type: "POST",
                data: { "id": id },
                dataType: "Json",
                success: function (data) {
                    if (data == "1") {
                        var item = "#au_" + id;
                        var count = $(item).html();
                        count = count * 1 + 1;
                        $(item).html(count);
                    }
                }
            });
        }
    </script>
}
