@{
    Layout = "~/Areas/Discuss/Views/Shared/_LayoutDiscuss.cshtml";
}
@model BBS.Web2.Areas.Discuss.Models.DiscussDetailViewModel
<div class="row">
    <div class="span9 blog">
        <section class="comments">
            <h4 class="title-bg"><a name="comments"></a>讨论>主题</h4>
            <ul>
                @{
                    string picurl = string.IsNullOrWhiteSpace(Model.MemberInfo.HeadPic) ? "http://www.kaifanews.com/img/user-avatar1.jpg" : Model.MemberInfo.HeadPic;
                    <li>
                        <div style="float:left">
                            <img style="height: 96px; width:96px;" src="@picurl" alt="评论" />
                        </div>
                        <div style="height: 96px; width:auto;float: left;">
                            <h3>@Model.Info.Title</h3>
                            <span class="comment-name">@Model.Info.PUserName</span>
                            <span class="comment-date">@Model.Info.AddTime.ToString("yyyy-MM-dd HH:mm:ss") &nbsp;&nbsp; <i class="icon-hand-up"></i><a href="#">查看(@Model.Info.ClickCount.ToString())</a>&nbsp; |&nbsp;<i class=" icon-comment"></i><a href="#">评论(@Model.Info.CommentCount.ToString())</a></span>
                            <hr style="border-color:#8e8787" />
                        </div>
                        <div class="comment-content">@Model.Info.Dcontent</div>
                        <!-- Reply -->
                        @*<ul>
                                <li>
                                    <img src="/img/user-avatar.jpg" alt="Image" />
                                    <span class="comment-name">Jason Doe</span>
                                    <span class="comment-date">March 15, 2015 | <i class="icon-hand-up"><a href="#">查看（@Model.Info.ClickCount.ToString()）</a></i><i class=" icon-comment"><a href="#">评论（@Model.Info.CommentCount.ToString()）</a></i></span>
                                    <div class="comment-content">@Model.Info.Dcontent</div>
                                </li>
                                <li>
                                    <img src="/img/user-avatar.jpg" alt="Image" />
                                    <span class="comment-name">Jason Doe</span>
                                    <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                                    <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                                </li>
                            </ul>*@
                    </li>
                }
                @{
                    foreach (var item in Model.Comments)
                    {
                        string pic = string.IsNullOrWhiteSpace(item.MemberPic) ? "http://www.kaifanews.com/img/user-avatar1.jpg" : item.MemberPic;
                        <li>
                            <img src="@pic" style="width:50px;height:50px;" alt="Image" />
                            <span class="comment-name">@item.UserName</span>
                            <span class="comment-date">@item.AddTime.ToString("yyyy-MM-dd HH:mm") &nbsp;&nbsp; <i class=" icon-thumbs-up"></i><a href="#">赞(@item.SupportCount.ToString())</a>&nbsp;|<i class="icon-thumbs-down"></i><a href="#">吐(@item.AgainstCount.ToString())</a></span>
                            <div class="comment-content">@item.CContent</div>
                        </li>
                    }
                }
            </ul>
        </section><!-- Close comments section-->
        <div class="pagination">
            <ul>
                <li class="active"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <!-- Comment Form -->
        <div class="comment-form-container">
            <form action="#" id="comment-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Email Address">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Website URL">
                </div>
                <textarea class="span6"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="提  交">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="span3 sidebar">
       @Html.Action("PartialData", "DiscussPart", new { area = "Discuss" });
    </div>
</div>
